# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Diretórios comuns
dist/
build/
tmp/
temp/

# Sistemas operacionais
.DS_Store
Thumbs.db

# Logs
*.log

# IDEs e editores
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.user

# Arquivos temporários e backups
*.swp
*.bak
*.tmp
*.old

# Arquivos gerados
*.pdf
*.zip

# Arquivo final de currículo
curriculo*.pdf
